{% extends 'base.html.twig' %}

{% block title %}Creer un article{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Retour a la page d'accueil</a>
{% endblock %}
